
table.display {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    color: #444;
    border: 1px solid #e0e0e0;
}

table.display thead th {
    background-color: #759fcb; /* A blue background */
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    border-bottom: 2px solid #ddd;
}

table.display tbody td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}







table.display tbody td.dt-type-date {
    text-align: center;
}

span.dt-column-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

table.display tbody td.dt-type-numeric {
    text-align: center;
}

table.display tbody tr:hover {
    background-color: #e6f7ff; /* Light blue on hover */
    cursor: pointer;
}

.modal-header {
    background-color: #759fcb;
    color: white
}


.btn-primary {
    background-color: #759fcb;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.btn-secondary {
    background-color: rgb(245, 182, 182);
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.btn-secondary:hover {
    background-color: rgb(255, 0, 0);
    color: white;
}

#gombos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gyasz {
    background-color: #759fcb;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}
.gyasz:hover {
    background-color: blue;
    color: white;
    transition: 0.5s;
}

#patientNameTitle {
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 20px;
}